<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<style>
body { 
  font-family: helvetica, sans-serif; 
  margin: 10px; 
  color: black; 
  background-color: white; 
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
  padding: 10px;
}
tr:nth-child(even) { 
  background-color: #ddd; 
}
footer {
  padding-top: 10px;
}
hr {
  border: 0;
  border-bottom: 1px solid black;
}
</style>
</head>
<body>
{{ content }}
<footer>
<hr />
<a href="https://fuse-crypto.github.io/">https://fuse-crypto.github.io/</a>
</footer>
</body>
</html>
